﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page");

    var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}

@section Breadcrumb
{
    <ol class="breadcrumb">
    <li>
        <a href="@Url.RouteUrl("HomePage")" title="@T("Products.Breadcrumb.Top")">@T("Products.Breadcrumb.Top")</a>
    </li>
    <li>
        Корзина
    </li>
</ol>

}

@section Title {
    <div class="page-title-wrapper__text">
        <h2>
            Корзина
        </h2>
    </div>
}

<div id="single-shop" class="row">
    <div class="col-md-12">
        @if (Model.Items.Count > 0)
        {
            using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new {enctype = "multipart/form-data", id = "shopping-cart-form"}))
            {
                @Html.AntiForgeryToken()
                <div class="table-responsive">
                    <table id="cart-table" class="table table-condensed">
                        <thead>
                        <tr>
                            <th>Удалить</th>
                            <th>Изображение</th>
                            <th>Товары</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Всего</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <th class="product-remove">
                                    <a class="remove" title="Удалить" href="@Url.Action("RemoveProductFromCart", new {productId = item.ProductId})">×</a>
                                </th>
                                <th>
                                    <div class="media">
                                        <div class="relative">
                                            <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title"/></a>
                                        </div>
                                    </div><!-- end media -->
                                </th>
                                <th>
                                    <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})" class="product-name">@item.ProductName</a>
                                    @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>
                                    }
                                    @if (Model.IsEditable && item.AllowItemEditing)
                                    {
                                        var editCartItemUrl = Url.RouteUrl("Product", new {SeName = item.ProductSeName});
                                        editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                        <div class="edit-item">
                                            <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                        </div>
                                    }
                                </th>
                                <td>@item.UnitPrice</td>
                                <td>
                                    @if (Model.IsEditable)
                                    {
                                        if (item.AllowedQuantities.Count > 0)
                                        {
                                            <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                                @foreach (var qty in item.AllowedQuantities)
                                                {
                                                    <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input"/>
                                        }

                                    }
                                    else
                                    {
                                        <span class="product-quantity">@item.Quantity</span>
                                    }
                                </td>
                                <td>
                                    @item.SubTotal
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
                if (Model.IsEditable)
                {
                    @Html.Partial("_CheckoutAttributes", Model.CheckoutAttributes, new ViewDataDictionary())
                }
                <!-- end table -->
                <div class="couponarea clearfix">
                    <button type="submit" name="updatecart" value="@T("ShoppingCart.UpdateCart")" class="pull-right btn btn-primary">Сохранить изменения</button>
                </div>
                <!-- end couponarea -->
                @Html.Action("OrderTotals", "ShoppingCart", new {isEditable = Model.IsEditable})
                <button type="submit" id="checkout" name="checkout" value="checkout" class="btn btn-primary">Оформить заказ</button>
            }
        }
        else
        {
            <h3>Корзина пуста</h3>
        }
    </div><!-- end col -->
</div><!-- end row -->

