﻿@model Nop.Web.Models.ShoppingCart.MiniShoppingCartModel


<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-shopping-cart"></i> КОРЗИНА <span class="top-cart__count-wrapper">(@Model.Items.Count)</span>
        <span class="dropme"></span>
    </button>

    <ul class="dropdown-menu cartdrop" role="menu">
        @if (Model.Items.Count > 0)
        {
            foreach (var item in Model.Items)
            {
                <li>
                    <a href="@Url.RouteUrl("ShoppingCart")">
                        <img title="@item.Picture.Title" class="alingleft" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl">
                        <h4>@item.ProductName <small>Кол-во : @item.Quantity - Цена : @item.UnitPrice</small></h4>
                    </a>
                </li>
            }
        }
        else
        {
            <li>
                Корзина пуста
            </li>
        }
        <li>
            <a href="@Url.RouteUrl("ShoppingCart")" class="btn btn-primary">В корзину</a>
        </li>
    </ul>
</div>