﻿@model OrderTotalsModel
@using Nop.Web.Models.ShoppingCart;

<div class="row margin-top">
    <div class="col-md-12">
        <h4>Стоимость: @Model.SubTotal</h4>
    </div>
</div>
@if (!String.IsNullOrEmpty(Model.SubTotalDiscount))
{
    <div class="row">
        <div class="col-md-12">
            <h4>@T("ShoppingCart.Totals.SubTotalDiscount"): @Model.SubTotalDiscount</h4>
        </div>
    </div>
}
@if (!Model.HideShippingTotal)
{
    <div class="row">
        <div class="col-md-12">
            @if (Model.RequiresShipping && !String.IsNullOrEmpty(Model.SelectedShippingMethod))
            {
                var shipping = Model.Shipping;
                if (String.IsNullOrEmpty(Model.Shipping))
                {
                    shipping = T("ShoppingCart.Totals.CalculatedDuringCheckout").ToString();
                }
                <h4>@T("ShoppingCart.Totals.Shipping"): @shipping</h4>
            }
        </div>
    </div>
}
@if (!String.IsNullOrEmpty(Model.OrderTotalDiscount))
{
    <div class="row">
        <div class="col-md-12">
            <h4>@T("ShoppingCart.Totals.OrderTotalDiscount"): @Model.OrderTotalDiscount</h4>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <h2>Итого: @Model.OrderTotal</h2>
    </div>
</div>