﻿@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.ShoppingCart;
@{
   var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
<div class="order-summary-content">
   @Html.Widget("order_summary_content_before")
   @Html.Partial("_OrderReviewData", Model.OrderReviewData)
   @if (Model.Items.Count > 0)
   {
       <h3>
           Корзина
       </h3>
       if (Model.Warnings.Count > 0)
       {
       <div class="message-error">
           <ul>
               @foreach (var warning in Model.Warnings)
               {
                   <li>@warning</li>
               }
           </ul>
       </div>
       }
       @*we add enctype = "multipart/form-data" because "File upload" attribute control type requires it*@
       using (Html.BeginRouteForm("ShoppingCart", FormMethod.Post, new {enctype = "multipart/form-data", id = "shopping-cart-form"}))
       {
           @Html.AntiForgeryToken()
           <div class="table-responsive">
               <table id="cart-table" class="table table-condensed">
                   <thead>
                   <tr>
                       <th>Изображение</th>
                       <th>Товары</th>
                       <th>Цена</th>
                       <th>Количество</th>
                       <th>Всего</th>
                   </tr>
                   </thead>
                   <tbody>
                   @foreach (var item in Model.Items)
                   {
                       <tr>
                           <th>
                               <div class="media">
                                   <div class="relative">
                                       <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})"><img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title"/></a>
                                   </div>
                               </div><!-- end media -->
                           </th>
                           <th>
                               <a href="@Url.RouteUrl("Product", new {SeName = item.ProductSeName})" class="product-name">@item.ProductName</a>
                               @if (!String.IsNullOrEmpty(item.AttributeInfo))
                               {
                                   <div class="attributes">
                                       @Html.Raw(item.AttributeInfo)
                                   </div>
                               }
                               @if (Model.IsEditable && item.AllowItemEditing)
                               {
                                   var editCartItemUrl = Url.RouteUrl("Product", new {SeName = item.ProductSeName});
                                   editCartItemUrl = webHelper.ModifyQueryString(editCartItemUrl, "updatecartitemid=" + item.Id, null);
                                   <div class="edit-item">
                                       <a href="@editCartItemUrl">@T("Common.Edit")</a>
                                   </div>
                               }
                           </th>
                           <td>@item.UnitPrice</td>
                           <td>
                               @if (Model.IsEditable)
                               {
                                   if (item.AllowedQuantities.Count > 0)
                                   {
                                       <select name="itemquantity@(item.Id)" class="qty-dropdown">
                                           @foreach (var qty in item.AllowedQuantities)
                                           {
                                               <option selected="@qty.Selected" value="@qty.Value">@qty.Value</option>
                                           }
                                       </select>
                                   }
                                   else
                                   {
                                       <input name="itemquantity@(item.Id)" type="text" value="@(item.Quantity)" class="qty-input"/>
                                   }

                               }
                               else
                               {
                                   <span class="product-quantity">@item.Quantity</span>
                               }
                           </td>
                           <td>
                               @item.SubTotal
                           </td>
                       </tr>
                   }
                   </tbody>
               </table>
           </div>
           <div class="row">
               <div class="col-md-12">
                   @Html.Raw(Model.CheckoutAttributeInfo)
               </div>
           </div>
           <div class="cart-footer">
               <div class="totals">
                   @Html.Action("OrderTotals", "ShoppingCart", new {isEditable = Model.IsEditable})

                   @if (Model.IsEditable)
                   {
                       <div class="checkout-buttons">
                           @if (String.IsNullOrEmpty(Model.MinOrderSubtotalWarning) && !Model.HideCheckoutButton)
                           {
                               <button type="submit" id="checkout" name="checkout" value="checkout" class="button-1 checkout-button">
                                   Подтвердить
                               </button>
                           }
                       </div>
                   }
               </div>
           </div>
       }
   }
   else
   {
       <div class="no-data">
           Корзина пуста
       </div>
   }
   @Html.Widget("order_summary_content_after")
</div>