﻿@model Nop.Web.Models.ShoppingCart.TopCartModel


<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-shopping-cart"></i> КОРЗИНА (@Model.ShoppingCartItems.Count)
        <span class="dropme"></span>
    </button>
    <ul class="dropdown-menu cartdrop" role="menu">
        @foreach (var item in Model.ShoppingCartItems)
        {
            <li>
                <a href="@Url.RouteUrl("ShoppingCart")">
                    <img title="@item.Picture.Title" class="alingleft" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl">
                    <h4>@item.ProductName <small>Кол-во : @item.Quantity - Цена : @item.Price</small></h4>
                </a>
            </li>
        }
        <li>
            <a href="@Url.RouteUrl("ShoppingCart")" class="btn btn-primary">В корзину</a>
        </li>
    </ul>
</div>