﻿.panel-white {
  background-color: #fff;
  padding: 20px;
}
.bestsellers {
  margin-top: 90px;
}
.news-item__footer {
  height: 40px;
}
.news-item__footer__date {
  font-style: italic;
  float: left;
}
.news-item__footer__read-more {
  float: right;
  text-transform: uppercase;
  background-color: #ffd34d;
  padding: 0 15px;
  border-radius: 16px;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 2px 1px #d9a300;
}
.btn.btn-primary.btn-yellow {
  background-color: #ffd34d;
  border: none;
  color: #494949 !important;
}
.btn.btn-primary.btn-yellow:hover {
  background-color: #ffd34d !important;
  border: none;
}
header .nav.navbar-nav {
  margin-left: 15px;
}
.navbar-brand {
  margin-top: -12px;
}
.navbar-brand img {
  height: 80px;
}
.headerbg {
  display: none !important;
}
.topbar-wrapper {
  background-color: white;
}
.topbar-block {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}
.topbar-cart {
  float: right;
}
.topbar-cart .btn-group .btn-default {
  border: none;
}
.subcategories .subcategory-item {
  margin-bottom: 30px;
}
#clouds {
  margin-top: 40px;
}
.header-search {
  width: 30%;
  float: right;
  margin-top: 7px;
}
.header-search-mobile {
  width: 50%;
  float: right;
  margin-right: 10px;
  margin-top: 8px;
}
.header-search-mobile .navbar-toggle {
  float: none;
}
@media (min-width: 768px) {
  .navbar.navbar-default .navbar-collapse.collapse {
    display: inline-block !important;
  }
}
.header .testimonial.green,
.header .ttmenu .navbar-default .dropdown-menu {
  background-color: #0080c8 !important;
}
.page-title-wrapper {
  float: left;
  max-width: 70%;
}
.page-title-wrapper__text {
  display: inline-block;
}
.page-title-wrapper .rating {
  margin-top: 0;
  margin-left: 10px;
  display: inline-block;
}
.shopmeta .product-share-button {
  margin-top: 10px;
}
.rating {
  text-shadow: black 1px 1px;
}
.shoptabs {
  margin-top: 20px;
}
.shoptabs .nav-tabs {
  border: none;
}
.shoptabs .nav-tabs .presentation a {
  border: none;
}
.product-card__price {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
.product-card__buttons {
  display: inline-block;
  margin-top: 10px !important;
  vertical-align: middle;
}
.product-card__attributes {
  margin-top: 30px;
}
.product-card__description p {
  margin-top: 0;
}
.bar-notification {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: #70980b;
  z-index: 399;
  color: white;
}
.bar-notification.error {
  position: initial;
  background-color: #ffb4b4;
}
.cartdrop h4 {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.new-address-wrapper .buttons {
  margin-top: 20px;
}
.field-validation-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 3px 5px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  display: inline-block;
  margin-top: 4px;
  line-height: 1em;
}
.margin-top-10 {
  margin-top: 10px;
}
ul.method-list {
  list-style: none;
}
.option-list.color-squares {
  list-style: none;
}
.option-list.color-squares li:not(:last-child) {
  margin-bottom: 15px;
}
.option-list.color-squares .tooltip-container {
  display: inline-block;
}
.ui-autocomplete {
  width: 280px !important;
}
.ui-autocomplete img {
  display: inline;
}
.ui-helper-hidden-accessible {
  display: none !important;
}
.ui-autocomplete {
  width: 285px !important;
  border: 1px solid #ddd;
  border-top: none;
  overflow: hidden;
  background-color: #fff;
  text-align: left;
  /*override jQuery UI styles, do not delete doubled properties*/
  border-radius: 0;
  padding: 0;
  font: normal 14px Arial, Helvetica, sans-serif;
  z-index: 300;
}
.ui-autocomplete li {
  border-top: 1px solid #ddd;
}
.ui-autocomplete li:first-child {
  border-top: none;
}
.ui-autocomplete a {
  display: block;
  padding: 15px;
  font-size: 14px;
  /*override jQuery UI styles, do not delete doubled properties*/
  margin: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  background: none !important;
  padding: 15px !important;
  line-height: normal !important;
  color: #777 !important;
}
.ui-autocomplete a:hover,
.ui-autocomplete a.ui-state-focus {
  background-color: #f6f6f6 !important;
}
.ui-autocomplete img {
  min-width: 20px;
  margin: 0 10px 0 0;
  vertical-align: middle;
}
#sidebarnav li a {
  height: auto;
}
.qty-input {
  width: 50px;
}
.address-item {
  margin: 20px 0 20px 0;
}
#rc-copyright,
#rh-chatWrapper,
#rh-badge {
  display: none !important;
}