﻿@model ShoppingCartModel.OrderReviewDataModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="row">
        @if (Model.IsShippable)
        {
            if (Model.SelectedPickUpInStore)
            {
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3>Самовывоз</h3>
                    <p>
                        @string.Format("{1}, {0}", Model.PickupAddress.City, Model.PickupAddress.Address1)
                    </p>
                </div>
            }
            else
            {
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3>Адрес доставки</h3>
                    <p class="address-box">
                        @Model.ShippingAddress.FirstName @Model.ShippingAddress.LastName
                        @if (Model.ShippingAddress.StreetAddressEnabled)
                        {
                            <br/>
                            @Model.ShippingAddress.Address1
                        }
                        @if (Model.ShippingAddress.CityEnabled)
                        {
                            <br/>
                            @Model.ShippingAddress.City
                        }
                        <br/>
                        Email: @Model.ShippingAddress.Email
                        @if (Model.ShippingAddress.PhoneEnabled)
                        {
                            <br/>
                            <text>Телефон: @Model.ShippingAddress.PhoneNumber</text>
                        }
                    </p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <h3>Способ доставки</h3>
                    <p>
                        @Model.ShippingMethod
                    </p>
                </div>
            }
        }
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h3>Оплата</h3>
            <p>@Model.PaymentMethod</p>
        </div>
        
    </div>
}