﻿<svg id="clouds" class="hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="120" viewBox="0 0 85 100" preserveAspectRatio="none">
    <path d="M-5 100 Q 0 20 5 100 Z
            M0 100 Q 5 0 10 100
            M5 100 Q 10 30 15 100
            M10 100 Q 15 10 20 100
            M15 100 Q 20 30 25 100
            M20 100 Q 25 -10 30 100
            M25 100 Q 30 10 35 100
            M30 100 Q 35 30 40 100
            M35 100 Q 40 10 45 100
            M40 100 Q 45 50 50 100
            M45 100 Q 50 20 55 100
            M50 100 Q 55 40 60 100
            M55 100 Q 60 60 65 100
            M60 100 Q 65 50 70 100
            M65 100 Q 70 20 75 100
            M70 100 Q 75 45 80 100
            M75 100 Q 80 30 85 100
            M80 100 Q 85 20 90 100
            M85 100 Q 90 50 95 100
            M90 100 Q 95 25 100 100
            M95 100 Q 100 15 105 100 Z">
    </path>
</svg>
<div class="footer-bg text-center hidden-xs">
    <img src="@Url.CurrentThemePath("~/Themes/{0}/Content/Images/footer.png")" alt="" class="img-responsive">
</div>
<footer class="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Мы - SleepWell</h4>
                    </div><!-- end section-title -->
                    <p>Российская компания по производству полноразмерных приставных кроваток из массива, представленная на мировом рынке.
                    Наша цель - это грамотная организация сна младенца, а значит и Вашего сна.</p>
                    <a href="about-us" class="btn btn-primary btn-yellow">Узнать больше</a>
                </div><!-- end widget -->
            </div><!-- end col -->

        <div class="col-md-1"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <div class="widget-title">
                        <h4>Продукция</h4>
                    </div><!-- end section-title -->
                    @Html.Action("FooterCategories", "Catalog")
                </div><!-- end widget -->
            </div><!-- end col -->

            <div class="col-md-1"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget-title">
                    <h4>Контакты</h4>
                </div><!-- end section-title -->
                <ul>
                    <li><i class="fa fa-phone"></i> +7 (921) 577 47 87</li>
                    <li><i class="fa fa-phone"></i> +7 (812) 941 25 23</li>
                    <li><i class="fa fa-envelope-o"></i> <a href="mailto:sleepwell@list.ru">sleepwell@list.ru</a></li>
                </ul>
                <div class="big-social">
                    <a href="#" title=""><i class="fa fa-vk"></i></a>
                    <a href="#" title=""><i class="fa fa-instagram"></i></a>
                </div><!-- end big-social -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- container -->
</footer>
<div class="copyrights text-center">
    <p>Почти создано двумя классными ребятами</p>
</div>