﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

<div class="first-section clearfix">
    <div class="row">
        <div class="col-md-3">
            @if (IsSectionDefined("Left"))
            {
                @RenderSection("Left")
            }
        </div>
        <div class="col-md-9">
            @if (IsSectionDefined("Right"))
            {
                @RenderSection("Right")
            }
        </div>
    </div>
</div>
