﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

<div class="page-wrapper white-section clearfix">
    <div class="row">
        <div class="col-md-12">
            @if (IsSectionDefined("Title"))
            {
                <div class="text-left page-title-wrapper">
                    @RenderSection("Title")
                </div>
            }
            @if (IsSectionDefined("Breadcrumb"))
            {
                <div class="text-right page-breadcrumb-title">
                    @RenderSection("Breadcrumb")
                </div>
            }
        </div>
        <div class="col-md-5">
            
        </div>
    </div>
    <hr/>
    @Html.Widget("main_column_before")
    @RenderBody()
    @Html.Widget("main_column_after")
</div>

@if (IsSectionDefined("Extra"))
{
    @RenderSection("Extra")
}