﻿@model AddressModel
@using Nop.Web.Models.Common;

@Html.HiddenFor(model => model.Id)


<div id="shipping-addresses-form" class="new-address-wrapper row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                @Html.LabelFor(model => model.FirstName) @Html.RequiredHint()
                @Html.TextBoxFor(model => model.FirstName, new Dictionary<string, object> { {"class", "form-control"}, {"placeholder", "Имя"} })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                @Html.LabelFor(model => model.LastName) @Html.RequiredHint()
                @Html.TextBoxFor(model => model.LastName, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Фамилия" } })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @Html.LabelFor(model => model.Address1) @Html.RequiredHint()
                @Html.TextBoxFor(model => model.Address1, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Адрес" } })
                @Html.ValidationMessageFor(model => model.Address1)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @if (Model.CityEnabled)
                {
                    @Html.LabelFor(model => model.City) @Html.RequiredHint()
                    @Html.TextBoxFor(model => model.City, new Dictionary<string, object> {{"class", "form-control"}, {"placeholder", "Город"}})
                    @Html.ValidationMessageFor(model => model.City)
                }
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @Html.LabelFor(model => model.Email) @Html.RequiredHint()
                @Html.TextBoxFor(model => model.Email, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Email" } })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @Html.LabelFor(model => model.PhoneNumber) @Html.RequiredHint()
                @Html.TextBoxFor(model => model.PhoneNumber, new Dictionary<string, object> { { "class", "form-control" }, { "placeholder", "Телефон" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>

        </div><!-- end row -->
    </div><!-- end col -->
</div><!-- end row -->

