﻿@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }
}

<div class="shop-item-list entry" data-productid="@Model.Id">
        <a class="hover-image" href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <div @*class="img-rotate"*@>
                @*<span class="badge">BEST SELLING</span>*@
                <img class="item-image" alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title">
            </div>
        </a>
        <div class="shop-item-title clearfix">
            <h4><a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })">@Model.Name</a></h4>
            <div class="shopmeta">
                <span class="pull-left">@Model.ProductPrice.Price</span>
                <div class="rating pull-right">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div><!-- end rating -->
            </div><!-- end shop-meta -->
        </div><!-- end shop-item-title -->
    <div class="visible-buttons">
        @if (!Model.ProductPrice.DisableBuyButton)
        {
            //var addToCartText = T("ShoppingCart.AddToCart").Text;
            //if (Model.ProductPrice.IsRental)
            //{
            //    addToCartText = T("ShoppingCart.Rent").Text;
            //}
            //if (Model.ProductPrice.AvailableForPreOrder)
            //{
            //    addToCartText = T("ShoppingCart.PreOrder").Text;
            //}
            @*<a data-tooltip="tooltip" data-placement="top" title="@(addToCartText)" href="#" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;">
                <span class="fa fa-cart-arrow-down"></span>
            </a>*@
        }
    </div><!-- end buttons -->
    </div><!-- end relative -->
