﻿@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@Html.Partial("_Notifications")
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<div id="wrapper">
    <div class="container">
        @Html.Partial("Header")
        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb", false)
        }
        @RenderBody()
    </div>
    @Html.Action("Footer", "Common")
    <div class="backtotop" style="bottom: 25px;"><i class="fa fa-arrow-up"></i> </div>
</div>
@Html.Action("EuCookieLaw", "Common")
@Html.Widget("body_end_html_tag_before")

<script type="text/javascript">
    $(document).ready(function() {
        /* ==============================================
        BACK TOP -->
        =============================================== */

        jQuery(window).scroll(function() {
            if (jQuery(this).scrollTop() > 1) {
                jQuery('.backtotop').css({ bottom: "105px" });
            } else {
                jQuery('.backtotop').css({ bottom: "-100px" });
            }
        });
        jQuery('.backtotop').click(function() {
            jQuery('html, body').animate({ scrollTop: '0px' }, 800);
            return false;
        });
    });
</script>

<!-- RedConnect -->
<script id="rhlpscrtg" type="text/javascript" charset="utf-8" async="async" src="https://web.redhelper.ru/service/main.js?c=chadogdenado"></script>
<div style="display: none"><a class="rc-copyright" href="http://redconnect.ru">Обратный звонок RedConnect</a></div>
<!--/RedConnect -->