﻿<div class="topbar">
    <div class="topbar-wrapper">
        <div class="text-left">
            <div class="topbar-block">
                <i class="fa fa-phone"></i>
                <span>+7 (921) 577-47-87</span>
            </div>
            <div class="topbar-block">
                <i class="fa fa-clock-o"></i>
                <span>ПН-ВС 9-21</span>
            </div>
            <div class="topbar-block">
                <i class="fa fa-map-marker"></i>
                <span>САНКТ-ПЕТЕРБУРГ</span>
            </div>
            <div class="topbar-cart">
                @Html.Action("FlyoutShoppingCart", "ShoppingCart")
            </div>
        </div><!-- end right -->
    </div><!-- end topbar-wrapper -->
</div>

<header class="header">
    <div class="container-wrapper">
        <div class="hovermenu ttmenu">
            <div class="headerbg hidden-xs hidden-sm"></div>
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    @*<div class="header-search-mobile hidden-md hidden-lg">
                        @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new {id = "small-search-box-form"}))
                        {
                            <div class="input-group">
                                <input type="text" class="form-control small-searchterms" placeholder="Поиск..."/>
                                <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <span class="fa fa-search"></span>
                                </button>
                            </span>
                            </div>
                        }
                    </div>*@
                    <div class="logo">
                        @Html.Action("Logo", "Common")
                    </div>
                </div><!-- end navbar-header -->

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог <b class="fa fa-angle-down"></b></a>
                            @Html.Action("NavbarCategories", "Catalog")
                        </li><!-- end mega menu -->
                        <li><a href="about-us">О нас</a></li>
                        <li><a href="customers">Покупателям</a></li>
                        <li><a href="partners">Партнерам</a></li>
                        <li><a href="reviews">Отзывы</a></li>
                    </ul><!-- end nav navbar-nav -->
                </div><!--/.nav-collapse -->
                @*<div class="header-search hidden-xs hidden-sm">
                    @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new {id = "small-search-box-form"}))
                    {
                        <div class="input-group">
                            <input type="text" class="form-control small-searchterms" placeholder="Поиск..."/>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <span class="fa fa-search"></span>
                                </button>
                            </span>
                        </div>
                    }
                </div>*@
            </div><!-- end navbar navbar-default clearfix -->
        </div><!-- end menu 1 -->
    </div><!-- end container -->
</header>

@*<script type="text/javascript">
    $(document).ready(function() {
        $('.header-search .small-searchterms').autocomplete({
            delay: 500,
            minLength: 2,
            source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
            appendTo: '.search-box',
            select: function(event, ui) {
                $(".header-search .small-searchterms").val(ui.item.label);
                setLocation(ui.item.producturl);
                return false;
            }
        })
            .data("ui-autocomplete")._renderItem = function(ul, item) {
                var t = item.label;
                //html encode
                t = htmlEncode(t);
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a>@Html.Raw("<img src='\" + item.productpictureurl + \"'>")<span>" + t + "</span></a>")
                    .appendTo(ul);
            };
    });
</script>*@

@*<div class="header-bottom">
    <div class="row">
        <div class="col-md-9">
            <div class="custom-menu">
                <p>Dear customer, welcome to the Kalista, please <a href="#">login</a> or <a href="#">create an account</a></p>
            </div><!-- end menu -->
        </div><!-- end col -->

        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for products...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div>*@
