﻿@model CheckoutBillingAddressModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-billing-address-page");
}

@section Breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Products.Breadcrumb.Top")">@T("Products.Breadcrumb.Top")</a>
        </li>
        <li>
            Контактные данные
        </li>
    </ol>

}

@section Title {
    <div class="page-title-wrapper__text">
        <h2>
            Контактные данные
        </h2>
    </div>
}

<div>
    @if (Model.ExistingAddresses.Count > 0)
    {
        <div class="section select-billing-address">
            <div class="title">
                <h4>Выберите контактные данные</h4>
            </div>
            <div class="address-grid row">
                @foreach (var item in Model.ExistingAddresses)
                {
                    <div class="address-item col-md-4 col-sm-6">
                        <ul class="address-box">
                            <li class="name">
                                @item.FirstName @item.LastName
                            </li>
                            @if (item.StreetAddressEnabled)
                            {
                                <li class="address1">
                                    @item.Address1
                                </li>
                            }
                            @if (item.CityEnabled || item.StateProvinceEnabled || item.ZipPostalCodeEnabled)
                            {
                                <li class="city-state-zip">
                                    @if (item.CityEnabled)
                                    {
                                        @item.City
                                    }
                                </li>
                            }
                            <li class="email">
                                <label>Email:</label>
                                <span>@item.Email</span>
                            </li>
                            @if (item.PhoneEnabled)
                            {
                                <li class="phone">
                                    <label>Телефон:</label>
                                    <span>@item.PhoneNumber</span>
                                </li>
                            }
                        </ul>
                        <div class="select-button">
                            <input type="button" value="Использовать этот адрес" class="btn btn-primary" onclick="selectBillingAddress@(item.Id)()" />
                            <script type="text/javascript">
                                function selectBillingAddress@(item.Id)() {
                                    if ($('#@Html.FieldIdFor(model => model.ShipToSameAddress)').is(':checked')) {
                                        setLocation('@Html.Raw(Url.RouteUrl("CheckoutSelectBillingAddress", new {addressId = item.Id, shipToSameAddress = "true"}))');
                                    } else {
                                        setLocation('@Url.RouteUrl("CheckoutSelectBillingAddress", new {addressId = item.Id })');
                                    }
                                }
                            </script>
                        </div>
                    </div>
                }
            </div>
        </div>
        <hr/>
    }

    @{
        var validationSummary = Html.ValidationSummary(true);
    }
    @if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
    {
        <div class="message-error">@validationSummary</div>
    }

    @using (Html.BeginRouteForm("CheckoutBillingAddress", FormMethod.Post))
    {
        var dataDictAddress = new ViewDataDictionary();
        //Merge ModelState (required for validation)
        dataDictAddress.ModelState.Merge(ViewData.ModelState);
        dataDictAddress.TemplateInfo.HtmlFieldPrefix = "NewAddress";
        @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)

        <div class="row">
            <div class="col-md-6">
                <div class="buttons pull-right margin-top-10">
                    <input type="submit" name="nextstep" value="Далее" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    }
    
</div>
