﻿@model CheckoutCompletedModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}

@section Breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Products.Breadcrumb.Top")">@T("Products.Breadcrumb.Top")</a>
        </li>
        <li>
            Заказ создан
        </li>
    </ol>

}

@section Title {
    <div class="page-title-wrapper__text">
        <h2>
            Заказ создан
        </h2>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <h3>Спасибо!</h3>
        <div class="title">
            <strong>Ваш заказ успешно создан</strong>
        </div>
        <div>
            <strong>Номер заказа: @Model.CustomOrderNumber</strong>
        </div>
        <div class="details-link">
            <a href="@Url.RouteUrl("OrderDetails", new {orderID = Model.OrderId})">Детали заказа</a>
        </div>
        <div class="buttons margin-top-10">
            <input type="button" value="На главную" class="btn btn-primary" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
        </div>
    </div>
</div>
