﻿@model CheckoutConfirmModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-confirm-page");
}

@section Breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Products.Breadcrumb.Top")">@T("Products.Breadcrumb.Top")</a>
        </li>
        <li>
            Подтверждение заказа
        </li>
    </ol>

}

@section Title {
    <div class="page-title-wrapper__text">
        <h2>
            Подтверждение заказа
        </h2>
    </div>
}


<div class="row">
    <div class="col-md-12">
        @Html.Action("OrderSummary", "ShoppingCart", new { prepareAndDisplayOrderReviewData = true })
        @using (Html.BeginRouteForm("CheckoutConfirm", FormMethod.Post, new {id = "confirm-order-form"}))
        {
            if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
            {
                <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
            }
            else
            {
                <div class="buttons">
                    <input type="submit" name="nextstep" value="Подтвердить" class="btn btn-primary"/>
                </div>
                <script>
                    $('#confirm-order-form').on('submit', function() {
                        var button = $(this).find('input[type="submit"][name="nextstep"]');
                        setTimeout(function() {
                            button.attr('disabled', 'disabled');
                        }, 0);
                    });
                </script>
            }
            if (Model.Warnings.Count > 0)
            {
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>
