﻿@model CheckoutPaymentInfoModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-payment-info-page");
}

@section Breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Products.Breadcrumb.Top")">@T("Products.Breadcrumb.Top")</a>
        </li>
        <li>
            Способ оплаты
        </li>
    </ol>

}

@section Title {
    <div class="page-title-wrapper__text">
        <h2>
            Способ оплаты - информация
        </h2>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <h3>Способ оплаты - информация</h3>
        @using (Html.BeginRouteForm("CheckoutPaymentInfo", FormMethod.Post))
        {
            var validationSummary = Html.ValidationSummary(false);
            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }
            <div class="info">
                @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
            </div>
            <div class="buttons">
                <input type="submit" name="nextstep" value="Далее" class="btn btn-primary"/>
            </div>
        }
    </div>
</div>