﻿@model CheckoutPaymentMethodModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-payment-method-page");
}

@section Breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Products.Breadcrumb.Top")">@T("Products.Breadcrumb.Top")</a>
        </li>
        <li>
            Способ оплаты
        </li>
    </ol>

}

@section Title {
    <div class="page-title-wrapper__text">
        <h2>
            Способ оплаты
        </h2>
    </div>
}

@using (Html.BeginRouteForm("CheckoutPaymentMethod", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <h3>Выберите способ оплаты</h3>
            @if (Model.PaymentMethods.Count > 0)
            {
                <ul class="method-list" id="payment-method-block">
                    @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                    {
                        var paymentMethod = Model.PaymentMethods[i];
                        var paymentMethodName = paymentMethod.Name;
                        <li>
                            <div class="method-name">
                                <div class="payment-details">
                                    <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected"/>
                                    <label for="paymentmethod_@(i)">@paymentMethodName</label>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <div class="buttons">
                    <input type="submit" name="nextstep" value="Далее" class="btn btn-primary"/>
                </div>
            }
            else
            {
                <div class="message-error">
                    @T("Checkout.NoPaymentMethods")
                </div>
            }
        </div>
    </div>
}
