﻿@model CheckoutShippingAddressModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-shipping-address-page");
}

@section Breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Products.Breadcrumb.Top")">@T("Products.Breadcrumb.Top")</a>
        </li>
        <li>
            Адрес доставки
        </li>
    </ol>

}

@section Title {
    <div class="page-title-wrapper__text">
        <h2>
            Адрес доставки
        </h2>
    </div>
}

<div>
    @using (Html.BeginRouteForm("CheckoutShippingAddress", FormMethod.Post))
    {
        if (Model.AllowPickUpInStore && !Model.PickUpInStoreOnly && Model.PickupPoints.Any())
        {
            <div class="section pickup-in-store">
                <div class="selector">
                    @Html.CheckBoxFor(x => x.PickUpInStore)
                    <label for="@Html.FieldIdFor(model => model.PickUpInStore)">Самовывоз</label>
                </div>
                <div class="description">
                    @T("Checkout.PickupPoints.Description")
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#@Html.FieldIdFor(model => model.PickUpInStore)").change(togglePickUpInStore);
                        togglePickUpInStore();
                    });

                    function togglePickUpInStore() {
                        if ($('#@Html.FieldIdFor(model => model.PickUpInStore)').is(':checked')) {
                            $('#pickup-points-form').show();
                            $('#shipping-addresses-form').hide();
                        } else {
                            $('#pickup-points-form').hide();
                            $('#shipping-addresses-form').show();
                        }
                    }
                </script>
            </div>
        }

        if (Model.AllowPickUpInStore)
        {
            <div class="section pickup-points" id="pickup-points-form">
                @if (Model.PickupPoints.Any())
                {
                    if (Model.PickUpInStoreOnly)
                    { 
                        @Html.HiddenFor(x => x.PickUpInStore)
                    }
                    <div class="select-pickup-point">
                        @if (Model.PickupPoints.Count == 1)
                        {
                            var point = Model.PickupPoints.First();
                            @Html.Hidden("pickup-points-id", string.Format("{0}___{1}", point.Id, point.ProviderSystemName))
                            <p>
                                @point.Name
                                <br/>
                                @(string.Format("{1}, {0}", point.Address, point.City))
                                @if (!string.IsNullOrWhiteSpace(point.Description))
                                {
                                    <br/>
                                    @point.Description
                                }
                            </p>
                        }
                        else
                        {
                            <div class="title">
                                <strong>@T("Checkout.PickupPoints.SelectPickupPoint")</strong>
                            </div>
                            <select name="pickup-points-id" id="pickup-points-select" class="address-select" title="">
                                @foreach (var point in Model.PickupPoints)
                                {
                                    var addressLine = new System.Text.StringBuilder();
                                    addressLine.Append(point.Name);
                                    if (!string.IsNullOrEmpty(point.Address))
                                    {
                                        addressLine.AppendFormat(", {0}", point.Address);
                                    }
                                    if (!string.IsNullOrEmpty(point.City))
                                    {
                                        addressLine.AppendFormat(", {0}", point.City);
                                    }
                                    if (!string.IsNullOrEmpty(point.StateName))
                                    {
                                        addressLine.AppendFormat(", {0}", point.StateName);
                                    }
                                    if (!string.IsNullOrEmpty(point.CountryName))
                                    {
                                        addressLine.AppendFormat(", {0}", point.CountryName);
                                    }
                                    if (!string.IsNullOrEmpty(point.PickupFee))
                                    {
                                        addressLine.AppendFormat(", {0}", point.PickupFee);
                                    }
                                    <option value="@(string.Format("{0}___{1}", point.Id, point.ProviderSystemName))">@(addressLine)</option>
                                }
                            </select> 
                        }
                    </div>
                    if(Model.DisplayPickupPointsOnMap)
                    {
                        var src = string.Format("https://maps.googleapis.com/maps/api/js{0}", string.IsNullOrEmpty(Model.GoogleMapsApiKey) ? string.Empty : string.Format("?key={0}", Model.GoogleMapsApiKey));
                        <div class="pickup-points-map" id="map">
                            <script type="text/javascript">
                                var markers = new Map();
                                var googleMap = null;
                                $(document).ready(function () {
                                    $.getScript("@src", function( data, textStatus, jqxhr ) {
                                        google.maps.visualRefresh = true;
                                        googleMap = new google.maps.Map(document.getElementById("map"), {
                                            zoom: 15,
                                            mapTypeId: google.maps.MapTypeId.ROADMAP
                                        });
                                        var geocoder = new google.maps.Geocoder();
                                        var infowindow = new google.maps.InfoWindow();
                                        @for (var i = 0; i < Model.PickupPoints.Count; i++)
                                        {
                                            var point = Model.PickupPoints[i];
                                            var value = string.Format("{0}___{1}", point.Id, point.ProviderSystemName);
                                            var pickupPointInfo = Html.Raw(string.Format(@"<div class='pickup-point-info'><ul><li><strong>{0}</strong></li><li>{1}</li><li>{2}</li></ul></div>",
                                                point.Name, point.OpeningHours, point.PickupFee));
                                            if (point.Latitude != null && point.Longitude != null)
                                            {
                                                <text>
                                                    (function() {
                                                        var marker = new google.maps.Marker({
                                                            map: googleMap,
                                                            title: "@point.Name",
                                                            position: new google.maps.LatLng(@point.Latitude, @point.Longitude),
                                                            icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                                                        });
                                                        markers.set("@value", marker);
                                                        google.maps.event.addListener(marker, 'click', function () {
                                                            $('#pickup-points-select').val("@value")
                                                            infowindow.setContent("@pickupPointInfo");
                                                            infowindow.open(googleMap, marker);
                                                        });
                                                        @if (i == 0)
                                                        {
                                                            <text>googleMap.setCenter(marker.getPosition())</text>
                                                        }
                                                    }());
                                                </text>
                                            }
                                            else
                                            {
                                                var address = string.Format("{0} {1} {2} {3}", point.Address, point.City, point.ZipPostalCode, point.CountryName);
                                                <text>
                                                    geocoder.geocode({'address': "@address"}, function(results, status) {
                                                        if (status === google.maps.GeocoderStatus.OK) {
                                                            var marker = new google.maps.Marker({
                                                                map: googleMap,
                                                                title: "@point.Name",
                                                                position: results[0].geometry.location,
                                                                icon: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                                                            });
                                                            markers.set("@value", marker);
                                                            google.maps.event.addListener(marker, 'click', function () {
                                                                $('#pickup-points-select').val("@value")
                                                                infowindow.setContent("@pickupPointInfo");
                                                                infowindow.open(googleMap, marker);
                                                            });
                                                            @if (i == 0)
                                                            {
                                                                <text>googleMap.setCenter(marker.getPosition())</text>
                                                            }
                                                        };
                                                    });
                                                </text>
                                            }
                                        }
                                        
                                        $('#pickup-points-select').change(function() {
                                            new google.maps.event.trigger(markers.get(this.value), 'click' );
                                        });

                                        $("#@Html.FieldIdFor(model => model.PickUpInStore)").change(function() {
                                            if ($('#@Html.FieldIdFor(model => model.PickUpInStore)').is(':checked')) {
                                                var center = googleMap.getCenter();
                                                google.maps.event.trigger(googleMap, 'resize');
                                                googleMap.setCenter(center);
                                            }
                                        })
                                    })
                                })
                            </script>
                        </div>
                    }
                }
                <div class="message-error">
                    <ul>
                        @foreach (var warning in Model.Warnings)
                        {
                            <li>@warning</li>
                        }
                    </ul>
                </div>
            </div>
        }
        if (Model.ExistingAddresses.Count > 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <h3>Выберите адрес доставки</h3>
                    <div class="row">
                        @foreach (var item in Model.ExistingAddresses)
                        {
                            <div class="col-md-4">
                                <p class="address-box">
                                    @item.FirstName @item.LastName
                                    @if (item.StreetAddressEnabled)
                                    {
                                        <br/>
                                        @item.Address1
                                    }
                                    @if (item.CityEnabled)
                                    {
                                        <br />
                                        @item.City
                                    }
                                    <br/>
                                    Email: @item.Email
                                    @if (item.PhoneEnabled)
                                    {
                                        <br/>
                                        <text>Телефон: @item.PhoneNumber</text>
                                    }
                                </p>
                                <div class="select-button">
                                    <input type="button" value="Использовать этот адрес" class="btn btn-primary"
                                           onclick="setLocation('@Url.RouteUrl("CheckoutSelectShippingAddress", new {addressid = item.Id})') "/>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        {
            var dataDictAddress = new ViewDataDictionary();
            //Merge ModelState (required for validation)
            dataDictAddress.ModelState.Merge(ViewData.ModelState);
            dataDictAddress.TemplateInfo.HtmlFieldPrefix = "NewAddress";
            <div id="shipping-addresses-form">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Или введите новый адрес</h4>
                    </div>
                </div>
                @Html.Partial("_CreateOrUpdateAddress", Model.NewAddress, dataDictAddress)
            </div>
        }
        <div class="row">
            <div class="col-md-6">
                <div class="buttons pull-right margin-top-10">
                    <input type="submit" name="nextstep" value="Далее" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>
