﻿@model CheckoutShippingMethodModel
@using Nop.Web.Models.Checkout;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-shipping-method-page");
}

@section Breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Products.Breadcrumb.Top")">@T("Products.Breadcrumb.Top")</a>
        </li>
        <li>
            Способ доставки
        </li>
    </ol>

}

@section Title {
    <div class="page-title-wrapper__text">
        <h2>
            Способ доставки
        </h2>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <h3>Выберите способ доставки</h3>
        @using (Html.BeginRouteForm("CheckoutShippingMethod", FormMethod.Post))
        {
            <ul class="method-list">
                @for (int i = 0; i < Model.ShippingMethods.Count; i++)
                {
                    var shippingMethod = Model.ShippingMethods[i];
                    <li>
                        <div class="method-name">
                            <input id="shippingoption_@(i)" type="radio" name="shippingoption" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)" checked="@shippingMethod.Selected" />
                            <label for="shippingoption_@(i)">@shippingMethod.Name</label>
                        </div>
                        @if (!String.IsNullOrEmpty(shippingMethod.Description))
                        {
                            <div class="method-description">
                                @Html.Raw(shippingMethod.Description)
                            </div>
                        }
                    </li>
                }
            </ul>
            <div class="buttons">
                <input type="submit" name="nextstep" value="Далее" class="btn btn-primary" />
            </div>
        }
    </div>
</div>
