﻿@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@{
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");
}

@{
    var onceActive = " active";
}

@if (Model.PictureModels.Count == 1)
{
    <div class="relative owhidden">
        <span class="zoom" id="zoomeffect">
            <img src="@Model.DefaultPictureModel.FullSizeImageUrl" class="img-responsive" alt="">
        </span>
    </div>
}
else
{
    <div class="relative owhidden">
        <div id="single-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                @foreach (var picture in Model.PictureModels)
                {
                    <div class="@("item" + onceActive)">
                        <div class="zoom">
                            <img src="@picture.FullSizeImageUrl" class="img-responsive" alt="@picture.AlternateText" title="@picture.Title">
                        </div>
                    </div>
                    {
                        onceActive = "";
                    }
                }
            </div>
            <a class="left carousel-control" href="#single-carousel" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                <i class="sr-only">Previous</i>
            </a>
            <a class="right carousel-control" href="#single-carousel" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
                <i class="sr-only">Next</i>
            </a>
        </div>
    </div>

    <script>
        (function($) {
            "use strict";
            $(document).ready(function() {
                $('.zoom').zoom();
            });
        })(jQuery);
    </script>
}