﻿@model ProductDetailsModel.ProductBreadcrumbModel
@using Nop.Web.Models.Catalog;

@if (Model.Enabled)
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.RouteUrl("HomePage")" title="@T("Products.Breadcrumb.Top")">@T("Products.Breadcrumb.Top")</a>
        </li>
        @foreach (var cat in Model.CategoryBreadcrumb)
        {
            <li>
                <a href="@Url.RouteUrl("Category", new {SeName = cat.SeName})" title="@cat.Name">@cat.Name</a>
            </li>
        }
        <li>
            @Model.ProductName
            @Html.Widget("productbreadcrumb_after", Model.ProductId)
        </li>
    </ol>
}