﻿@model IList<ProductTagModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    for (var i = 0; i < Model.Count; i++)
    {
        <a href="@Url.RouteUrl("ProductsByTag", new {productTagId = Model[i].Id, SeName = Model[i].SeName})">
            @Model[i].Name
        </a><text>@T("Products.Tags.Count", Model[i].ProductCount)</text>if (i != Model.Count - 1){<text>,</text>}
    }
}