﻿@model ProductDetailsModel
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    var seoSettings = EngineContext.Current.Resolve<SeoSettings>();

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" + Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + Request.Url.AbsoluteUri + "\" />");
    }
}
<!--product breadcrumb-->
@section Breadcrumb
{
    @Html.Partial("_ProductBreadcrumb", Model.Breadcrumb)
}

@section Title {
    <div class="page-title-wrapper__text">
        <h2>
            @Model.Name
        </h2>
    </div>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
    </div><!-- end rating -->
}

@Html.Widget("productdetails_after_breadcrumb", Model.Id)

@using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
{
    <div id="single-shop" class="row">
        <div class="col-md-7">
            @if (!string.IsNullOrEmpty(Model.FullDescription))
            {
                <div class="product-card__short-description">
                    <p>@Html.Raw(Model.ShortDescription)</p>
                </div>
            }
            @{
                var dataDictAttributes = new ViewDataDictionary();
                dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                <div class="product-card__attributes">
                    @Html.Partial("_ProductAttributes", Model.ProductAttributes, dataDictAttributes)
                </div>
            }
            <div class="shop-big-title product-card__price clearfix">
                <span>@Html.Raw(Model.ProductPrice.Price)</span>
                @if (!string.IsNullOrWhiteSpace(Model.ProductPrice.OldPrice))
                {
                    <span class="old">@Html.Raw(Model.ProductPrice.OldPrice)</span>
                }
            </div>

            <div class="shopbuttons product-card__buttons">
                <div class="btn-group">
                    <a href="#" class="btn btn-primary" title=""
                       onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new {productId = Model.AddToCart.ProductId, shoppingCartTypeId = (int) ShoppingCartType.ShoppingCart})', '#product-details-form');return false;">
                        В корзину
                    </a>
                </div>
            </div><!-- end shopbuttons -->

            <div class="clearfix"></div>

            <div class="shopmeta">
                @if (Model.Breadcrumb.CategoryBreadcrumb.Count > 0)
                {
                    <span>
                        <strong>Категория:</strong>
                        @for (int index = 0; index < Model.Breadcrumb.CategoryBreadcrumb.Count; index++)
                        {
                            var category = Model.Breadcrumb.CategoryBreadcrumb[index];
                            <a href="@Url.RouteUrl("Category", new {SeName = category.SeName})" itemprop="url">@category.Name</a>if (index != Model.Breadcrumb.CategoryBreadcrumb.Count - 1)
                                                                                                                                 {<text>,</text>}
                        }
                    </span>
                }
                @if (Model.ProductTags.Count > 0)
                {
                    @*<span>
                        <strong>Ключевые слова:</strong>
                        @Html.Partial("_ProductTags", Model.ProductTags)
                    </span>*@
                }
                @Html.Partial("_ShareButton", Model)
            </div><!-- end shopmeta -->
        </div><!-- end col -->
        <div class="col-md-5">
            <div class="relative owhidden">
                @Html.Partial("_ProductDetailsPictures", Model)
            </div>
        </div><!-- end col -->
    </div>
    if (!string.IsNullOrEmpty(Model.FullDescription))
    {
        <div class="row">
            <div class="col-md-12">

                <div class="product-card__description">
                    <p>@Html.Raw(Model.FullDescription)</p>
                </div>
            </div>
        </div>
    }
    @section Extra {
        @Html.Action("RelatedProducts", "Product", new {productId = Model.Id})
    }
}
