﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="white-section withtitle clearfix">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title bgcolor">
                <h4>Вместе с этим товаром покупают</h4>
            </div><!-- end section-title -->
        </div><!-- end col -->
    </div><!-- end row -->

        <div id="owl-featured">
        @foreach (var item in Model)
        {
            <div class="owl-featured">
                <div class="item-box">@Html.Partial("_ProductBox", item)</div>
            </div><!-- end col -->
        }
        </div><!-- end owl-featured -->
    </div><!-- end white-section -->

    <script type="text/javascript">
        $(document).ready(function() {
            $('#owl-featured').owlCarousel({
                loop: true,
                margin: 15,
                nav: true,
                dots: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 4
                    }
                }
            });
        });
    </script>
}