﻿@model CatalogPagingFilteringModel
@using Nop.Web.Models.Catalog;

<div id="shoptop" class="row">
    <div class="col-md-12">
        <div class="text-left">
            @if (Model.AllowProductSorting)
            {
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Сортировать по <span class="dropme"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var option in Model.AvailableSortOptions)
                        {
                            <li><a href="@option.Value">@option.Text</a></li>
                        }
                    </ul>
                </div>
                <!-- /btn-group -->
            }
        </div><!-- end right -->
    </div><!-- end col -->
</div><!-- end row -->