﻿@model TopMenuModel
@using Nop.Web.Models.Catalog;

@helper RenderCategoryLine(CategorySimpleModel category, int level, bool responsiveMobileMenu)
{
    <li>
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
    </li>
}

<ul>
    @{
        var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).Take(7).ToList();
    }
    @foreach (var category in rootCategories)
    {
        @RenderCategoryLine(category, 0, false)
    }
</ul><!-- end nav navbar-nav -->
