﻿@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="bestsellers">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title bgcolor">
                    <h4>Популярные товары</h4>
                </div><!-- end section-title -->
            </div><!-- end col -->
        </div>

        <div id="owl-featured">
            @foreach (var item in Model)
            {
                <div class="owl-featured">
                    @Html.Partial("_ProductBox", item)
                </div>
                <!-- end col -->
            }
        </div><!-- end owl-featured -->
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#owl-featured').owlCarousel({
                loop: true,
                margin: 15,
                nav: true,
                dots: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            });
        });
    </script>
}

