﻿@model IEnumerable<Nop.Web.Models.Catalog.ProductOverviewModel>


<div id="slider-content">
    <div class="slider">
        <div id="owl-home">
            @foreach (var product in Model)
            {
                <div class="owl-item-slider">
                    <img src="@product.DefaultPictureModel.FullSizeImageUrl" alt="@product.DefaultPictureModel.AlternateText" class="img-responsive">
                </div>
            }
        </div><!-- end owl -->
    </div><!-- end slider-wrapper -->
</div><!-- end content -->

<script type="text/javascript">
    $(document).ready(function() {
        $('#owl-home').owlCarousel({
            loop: true,
            margin: 30,
            autoplay: true,
            autoplayTimeout: 3000,
            smartSpeed: 1000,
            autoplayHoverPause: true,
            nav: false,
            dots: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    });
</script>
