﻿@model TopMenuModel
@using Nop.Web.Models.Catalog;

@helper RenderCategoryLine(CategorySimpleModel category, int level, bool responsiveMobileMenu)
{
    <li>
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
    </li>
}

<div id="sidebarnav">
    <div id="vertical" class="verticalmenu ttmenu hidden-xs hidden-sm">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Widget("header_menu_before")
                    @{
                        var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
                    }
                    @foreach (var category in rootCategories)
                    {
                        @RenderCategoryLine(category, 0, false)
                    }

                    @Html.Widget("header_menu_after")
                </ul><!-- end nav navbar-nav -->
            </div><!--/.nav-collapse -->
        </div><!-- end navbar navbar-default clearfix -->
    </div><!-- end menu 1 -->
</div>
