﻿@model HomePageNewsItemsModel
@using Nop.Web.Models.News;
@if (Model.NewsItems.Count > 0)
{
    <div class="white-section withtitle clearfix wow fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title bgcolor">
                    <h4>Новости</h4>
                </div><!-- end section-title -->
            </div><!-- end col -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="owl-blog">
                    @foreach (var item in Model.NewsItems)
                    {
                        <div class="blog-item">
                            @*<div class="blog-item-image">
                                <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })"><img src="" alt="" class="img-responsive"></a>
                            </div>*@
                            <h4><a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a></h4>
                            <p>@Html.Raw(item.Short)</p>
                            <div class="news-item__footer">
                                <div class="news-item__footer__date">
                                    <span>@item.CreatedOn.ToShortDateString()</span>
                                </div>
                                <div class="news-item__footer__read-more">
                                    <a href="@Url.RouteUrl("NewsItem", new {SeName = item.SeName})" class="">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <!-- end blog-item -->
                    }
                </div><!-- end owl-blog -->
            </div><!-- end col -->
        </div>
    </div>

    <script type="text/javascript">
        $('#owl-blog').owlCarousel({
            loop: true,
            margin: 25,
            nav: true,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>
}